*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero{
    
    max-width: 100%;
    height: 100vh;
    background: #f0e7e5;
}

nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

nav ul li a:hover{
    color: #c56869;
}

.detel{
    margin-left: 8%;
    margin-top: 3%;
    text-align: justify;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 25px;
}

span{
    color: #db9f95;
}

.detel p{
    color: #555;
    line-height: 25px;
    text-align: justify;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 1%;
    
}
.images img{
    height: 100%;
    position: absolute;
    left: 72%;
    bottom: 0;
    transform: translateX(-50%);
}

.gambar {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 700px;
  }

  .gambar img {
    height: 100%;
    position: absolute;
    left: 120%;
    bottom: 0;
    transform: translateX(-50%);
  }